[core]
	# editor = vi
	# pager = less -FRSX
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	# bigfilethreshold = 200K
[pager]
        # See https://veronneau.org/a-better-git-diff.html
        log = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -FRSX
        show = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -FRSX
        diff = /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less -FRSX
[user]
        name = Lorenzo Bolla
        email = code@lbolla.info
	signingkey = 0x0DF83D43C5750E74
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[pull]
        rebase = true
[push]
	default = current
	followTags = true
[rebase]
        autoSquash = true
[log]
	decorate = full
	# showSignature = true
[alias]
	# tags = tag --sort=-taggerdate
        tags = for-each-ref refs/tags --sort=-taggerdate --format='%(objectname:short) %(color:cyan)%(objecttype) %(color:red)%(*authordate:short) %(color:yellow)%(refname:short)'
	rank = shortlog -sn --no-merges
        root = rev-parse --show-toplevel
	# searchcommits = "!f() { query=\"$1\"; shift; git log -S\"$query\" \"$@\"; }; f \"$@\""
	# last = cat-file commit HEAD
	# glog = log --pretty=format:'%C(green)%h %C(yellow)[%ad]%C(red)%d %C(reset)%s%C(blue) [%an] %C(black)%G?' --decorate --date=iso --graph
	glog = log --pretty=format:'%C(green)%h %C(yellow)[%ad]%C(blue) [%<(15,trunc)%an] %C(white dim)%G?%C(red)%d %C(reset)%s' --decorate --date=iso --graph
        log1 = log --pretty=oneline
# [diff]
# 	tool = meld
# [merge]
# 	tool = emerge
# [diff "mwbdiff"]
# 	textconv = mwb-diff
[credential]
	helper = cache
[magit]
	hideCampaign = true
# [tig]
#         main-options = --all
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[includeIf "gitdir:~/src/github.com/lbolla/"]
        path = .gitconfig-github.com-lbolla
[includeIf "gitdir:~/src/github.com/yougov/"]
        path = .gitconfig-github.com-yougov
[includeIf "gitdir:~/src/yougov/"]
        path = .gitconfig-yougov
[includeIf "gitdir:~/src/*.roche.com/"]
        path = .gitconfig-roche