*.pyc
*.bak
*~
tags
.DS_Store
secret
aliases
*private*
*.eld
/vim/.vim/bundle
/vim/.vim/.netrwhist
/emacs/.emacs.d/.apl.history
/emacs/.emacs.d/.cache/
/emacs/.emacs.d/.cask/
/emacs/.emacs.d/.lsp-session-*
/emacs/.emacs.d/.python-environments/
/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/backups/
/emacs/.emacs.d/bookmarks
/emacs/.emacs.d/ede-projects.el
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/eshell/lastdir
/emacs/.emacs.d/flycheck_private.el
/emacs/.emacs.d/games/
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/private.el
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/projectile.cache
/emacs/.emacs.d/recentf
/emacs/.emacs.d/session.*
/emacs/.emacs.d/tramp
/emacs/.emacs.d/transient/history.el
/emacs/.emacs.d/url/
/lftp/.lftp/*_history
/w3m/.w3m/.sessions
/w3m/.w3m/cookie
/w3m/.w3m/history
/python/.ipython/profile_default/history.sqlite
/rust/.cargo/
_obsolete/