*.pyc
*.bak
tags
.DS_Store
secret
aliases
*private*
*.eld
.centerim/*
.vim/bundle
.vim/.netrwhist
/.emacs.d/.cask/
/.emacs.d/.python-environments/
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/backups/
/.emacs.d/bookmarks
/.emacs.d/ede-projects.el
/.emacs.d/elpa/
/.emacs.d/flycheck_private.el
/.emacs.d/private.el
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
/.emacs.d/recentf
/.emacs.d/session.*
/.emacs.d/tramp
/.emacs.d/url/
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/.apl.history
