Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.depth: 32
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 3
URxvt*saveLines: 12000
! URxvt*foreground: #000000
! URxvt*background: #ffffff
URxvt*foreground: #ffffff
URxvt*background: #000000

! URxvt*font: xft:Terminus:pixelsize=14

URxvt*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
URxvt*boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
URxvt*italicFont: xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
URxvt*boldItalicFont: xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

! URxvt*font: xft:Operator Mono Light:pixelsize=14
! URxvt*boldFont: xft:Operator Mono Medium:pixelsize=14
! URxvt*italicFont: xft:Operator Mono LightItalic:pixelsize=14
! URxvt*boldItalicFont: xft:Operator Mono MediumLight:pixelsize=14

URxvt*letterSpace: 0
URxvt*scrollBar: none
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain

URxvt.perl-ext-common: default,matcher,font-size
! selection-to-clipboard
URxvt.url-launcher: /usr/bin/firefox
URxvt.keysym.C-Delete: matcher:last
URxvt.keysym.M-Delete: matcher:list
URxvt.matcher.pattern.1: sftp://[\\w\\-\\@;\\/?:&=%\\$.+!*\\x27,~#]*(\\([\\w\\-\\@;\\/?:&=%\\$.+!*\\x27,~#]*\\)|[\\w\\-\\@;\\/?:&=%\\$+*~])+
URxvt.matcher.pattern.2: \\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}
URxvt.colorUL: #4682B4
!!! TODO Change font size on Control-Plus/Minus
! URxvt.perl-ext-common: font-size
! URxvt.keysym.Control-0x2b: perl:font-size:increase
! URxvt.keysym.Control-0x2d: perl:font-size:decrease
! URxvt.keysym.C-Up:     perl:font-size:increase
! URxvt.keysym.C-Down:   perl:font-size:decrease
! URxvt.keysym.C-S-Up:   perl:font-size:incglobal
! URxvt.keysym.C-S-Down: perl:font-size:decglobal
! URxvt.keysym.C-equal:  perl:font-size:reset
! URxvt.keysym.C-slash:  perl:font-size:show
